.container {

    display: flex;
    justify-content: center;
    margin-top: 0px;
    gap: 40px;
    
}


.text {

    font-family: 'Poppins', sans-serif;
    color: #414141;
    font-size: 62px;
    font-weight: 600;
    padding: 0px 295px;
    margin-top: 85px;
    flex: 1; 
}

.text p {

    margin-bottom: 2px;
}

.text hr {

    width: 130px;
    height: 3px;
    background-color: black;
    margin-left: 0;
    
}

.img2 {
    
    flex: 1;
    display: flex;
    justify-content: end;
}

.img2 img {

    width: 590px;
    height: 885px;

}

.umButao {

    margin-top: 595px;
    margin-right: -40px;
}