.container {

    justify-content: center;
    align-items: center;
    display: flex;
    gap: 100px;
    margin-top: 150px;
}

.container img {

    width: 450px;

}

.content p {

    font-family: Poppins;
}

.text1 {

    margin-top: -2px;
    font-size: 70px;
    color: #414141;

}

.text2  {

    margin-top: -55px;
    font-size: 28px;
    color: #9F9F9F;

}

.botao {

    width: 170px;
    height: 60px;
    background: #4A4A4A;
    color: white;
    font-family: Poppins;
    font-size: 18px;
    border-style: none;
}